:root {
    --base-font-size: 20;
    --base-line-height: 24;

    --base-font-family: "Georgia", serif;
    --base-font-weight: 400;

    --header-font-family: "Montserrat", sans-serif;
    --header-font-weight: 700;

    /* Colors */
    --color-white: #fff;
    --color-black: #000;

    --color-primary: #cfa33a;
    --color-base: #606060;
    --color-heading:#2b2b2b;
}
